.page__content {
  font-size: 0.8rem;
  line-height: 1.3;
}

.archive__item {
  margin-bottom: 0.6rem;
}

.archive__item p {
  margin-bottom: 0.2rem;
}

.archive__item-title {
  margin-bottom: 0.3rem;
}
